/* Appliquer à tout le contenu de la page */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center; 
}

#root {
  width: 100%;  /* Occupe toute la largeur de la page */
  height: 100%; /* Occupe toute la hauteur de la page */
  justify-content: center; /* Centre horizontalement */
  align-items: flex-start; /* Centre uniquement horizontalement */
}

.container {
  width: 80%; /* Ajustez selon la taille désirée de votre contenu */
  max-width: 1200px; /* Largeur maximale de la page */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; 
}
.contact-page {
    background-image: url('../img/contact-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* S'assure que le fond couvre tout l'écran */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc avec transparence */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
  }
  
  /* Media Queries pour la compatibilité mobile et tablette */
  @media (max-width: 768px) {
    .contact-container {
      padding: 20px;
    }
  
    .contact-page {
      padding: 20px;
      background-position: top;
    }
  
    iframe {
      height: 250px; /* Réduire la hauteur de la carte sur mobile */
    }
  }
  
  @media (max-width: 576px) {
    .contact-page {
      background-position: top;
      background-size: cover;
      padding: 10px;
    }
  
    iframe {
      height: 200px; /* Encore plus petit sur les petits appareils */
    }
  }
  