
body {
  position: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #444;
  background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e;
  font-weight: 600;
}

strong {
  color: #000;
}

a {
  color: #0d6efd;
}

a:hover {
  color: #298eff;
}
